* {
  border: 0;
  margin: 0;
}
body {
  font: arial, sans-serif;
}

h1 {
  text-align: center;
}
a {
  text-decoration: none;
  font-weight: 700;
}

iframe {
  width: 100%;
  height: 500px;
  border: 1px solid aqua;
}
.container-main{
  margin: 3px;
  border: 1px solid #e7e7e7;
}
.container {
  margin: 20px;
  padding: 5px;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.site {
  width: 47%;
  text-align: center;
  margin: 1%;
}
.site div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showorhide{
    font-size: 1.5rem;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
  }
  .showorhide-inside{
    font-size: 1.5rem;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: space-around;
  }
  iframe {
    width: 100%;
  }
  .site {
    width: 100%;
    margin: 1%;
  }
}
